earthengine-api>=1.6.0
eerepr>=0.1.2
folium>=0.20.0
geemap>=0.35.3
google-api-core>=2.25.1
google-api-python-client>=2.177.0
google-auth>=2.40.3
google-auth-httplib2>=0.2.0
google-cloud-core>=2.4.3
google-cloud-storage>=3.2.0
google-crc32c>=1.7.1
google-resumable-media>=2.7.2
googleapis-common-protos>=1.70.0
matplotlib>=3.10.3
matplotlib-inline>=0.1.7
numpy>=2.2.6
opencv-python>=4.12.0.88
streamlit>=1.47.0
streamlit_folium>=0.25.0
torch>=2.7.1
torchvision>=0.22.1
tqdm>=4.67.1
